# Augmentation

1. 중복 제거  
2.

In [1]:
# read file
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('../../../dataset/train/train.csv')
dataset.head()

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia

In [3]:
import pandas as pd

def preprocessing_dataset(dataset):
    """ 처음 불러온 csv 파일을 원하는 형태의 DataFrame으로 변경 시켜줍니다."""
    subject_word, subject_idx, subject_type = [], [], []
    object_word, object_idx, object_type = [], [], []

    for subject_entity, object_entity in zip(dataset['subject_entity'], dataset['object_entity']):
        subject_dict = eval(subject_entity)
        object_dict = eval(object_entity)

        subject_word.append(subject_dict['word'])
        subject_idx.append((subject_dict['start_idx'], subject_dict['end_idx']))
        subject_type.append(subject_dict['type'])
        object_word.append(object_dict['word'])
        object_idx.append((object_dict['start_idx'], object_dict['end_idx']))
        object_type.append(object_dict['type'])

    out_dataset = pd.DataFrame({
        'id': dataset['id'], 
        'sentence': dataset['sentence'],
        'subject_word': subject_word,
        'subject_idx': subject_idx,
        'subject_type': subject_type,
        'object_word': object_word,
        'object_idx': object_idx,
        'object_type': object_type,
        'label': dataset['label'],
        'source': dataset['source']
    })

    return out_dataset

In [4]:
train_dataset = preprocessing_dataset(dataset)
train_dataset.head()

,id,sentence,subject_word,subject_idx,subject_type,object_word,object_idx,object_type,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,비틀즈,"(24, 26)",ORG,조지 해리슨,"(13, 18)",PER,no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,민주평화당,"(19, 23)",ORG,대안신당,"(14, 17)",ORG,no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,광주FC,"(21, 24)",ORG,한국프로축구연맹,"(34, 41)",ORG,org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,아성다이소,"(13, 17)",ORG,박정부,"(22, 24)",PER,org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,요미우리 자이언츠,"(22, 30)",ORG,1967,"(0, 3)",DAT,no_relation,wikipedia

In [10]:
# sentence, subject_idx, object_idx, label 이 같으면 완전 동일한 data로 간주한다.
train_dataset[train_dataset.duplicated(['sentence', 'subject_idx', 'object_idx', 'label'], keep=False) == True]

,id,sentence,subject_word,subject_idx,subject_type,object_word,object_idx,object_type,label,source
255,255,2010년 10월 15일 전라북도청을 방문한 맹형규 행정안전부 장관은 도내 지자체간...,전라북도청,"(14, 18)",ORG,행정안전부,"(29, 33)",ORG,no_relation,wikipedia
277,277,"이날 프로그램 공개에서는 전북영산작법보존회와 김명신‧정상희의 사제동행 판소리, 관악...",강태환,"(62, 64)",PER,색소폰,"(58, 60)",POH,no_relation,wikitree
630,630,"배우 마동석, 박정민, 정해인, 염정아, 최성은, 윤경호 씨가 출연하는 영화 '시동...",최성은,"(23, 25)",PER,시동',"(44, 46)",POH,no_relation,wikitree
1386,1386,"특히, KRI 한국기록원으로부터 2년 연속 공인중개사 최다 합격자 배출 기록을 공식...",한국기록원,"(8, 12)",ORG,KRI,"(4, 6)",ORG,org:alternate_names,wikitree
1721,1721,그러나 곧 이은 총선에서 한나라당이 원내 1당을 차지했고 연정상대였던 자유민주연합은...,자유민주연합,"(39, 44)",ORG,한나라당,"(14, 17)",ORG,no_relation,wikipedia
...,...,...,...,...,...,...,...,...,...,...
31785,31785,"송천영 전 의원은 1992년 민주당을 탈당, 국민신당 창당에 참여했다가 그해 11월...",민주자유당,"(49, 53)",ORG,이회창,"(72, 74)",PER,no_relation,wikipedia
31786,31786,"그러나, 1940년 달라이 라마 14세의 즉위식에 참석한 중화민국은 행정원몽장위원회...",달라이 라마 14세,"(11, 20)",PER,중화민국,"(32, 35)",ORG,no_relation,wikipedia
31896,31896,"이용빈 후보는 전)더불어민주당 광산갑 지역위원장, 전)더불어민주당 정책위원회 부의장...",더불어민주당,"(10, 15)",ORG,문재인,"(84, 86)",PER,no_relation,wikitree
32274,32274,결국 2018년 초에 국민의당은 바른미래당과 민주평화당으로 갈라지고 말았다.,바른미래당,"(18, 22)",ORG,국민의당,"(12, 15)",ORG,no_relation,wikipedia
32282,32282,박능후 중앙재난안전대책본부 1차장(보건복지부 장관)이 중앙재난안전대책본부 정례브리핑...,박능후,"(0, 2)",PER,보건복지부 장관,"(19, 26)",ORG,per:title,policy_briefing

In [15]:
# 중복을 제거해 준다.
train_dataset = train_dataset.drop_duplicates(['sentence', 'subject_idx', 'object_idx', 'label'], keep='first')

42개의 중복 건 제거됨.

In [17]:
# sentence, subject_idx, object_idx는 같은데 label이 다른 경우
# 위에서 이미 완전 중복을 제거 했기때문에 sentence, subject_idx, object_idx 로 중복이면 label만 다른 케이스
pd.set_option('display.max.colwidth', 2000)
train_dataset[train_dataset.duplicated(['sentence', 'subject_idx', 'object_idx'], keep=False) == True].sort_values(by=['sentence'], axis=0)

,id,sentence,subject_word,subject_idx,subject_type,object_word,object_idx,object_type,label,source
6749,6749,대한항공은 5일 조양호 회장의 3자녀가 보유한 싸이버스카이 주식 9만9900주 전량을 63억 원에 취득한다고 밝혔다.,대한항공,"(0, 3)",ORG,조양호,"(9, 11)",PER,no_relation,wikipedia
12829,12829,대한항공은 5일 조양호 회장의 3자녀가 보유한 싸이버스카이 주식 9만9900주 전량을 63억 원에 취득한다고 밝혔다.,대한항공,"(0, 3)",ORG,조양호,"(9, 11)",PER,org:top_members/employees,wikipedia
8364,8364,배우 김병철 씨가 연기하는 정복동은 천리마마트를 망하게 하기 위해 여러 계획을 세우지만 반대로 하는 일마다 대박을 치는 캐릭터이다.,정복동,"(15, 17)",PER,김병철,"(3, 5)",PER,no_relation,wikitree
32299,32299,배우 김병철 씨가 연기하는 정복동은 천리마마트를 망하게 하기 위해 여러 계획을 세우지만 반대로 하는 일마다 대박을 치는 캐릭터이다.,정복동,"(15, 17)",PER,김병철,"(3, 5)",PER,per:alternate_names,wikitree
11511,11511,"영화 '버즈 오브 프레이'는 배트맨이 없는 고담시에서 할리퀸, 헌트리스, 블랙 카나리가 힘을 합쳐 한 소녀를 구한다는 이야기다.",배트맨,"(16, 18)",PER,고담시,"(24, 26)",LOC,per:place_of_residence,wikitree
22258,22258,"영화 '버즈 오브 프레이'는 배트맨이 없는 고담시에서 할리퀸, 헌트리스, 블랙 카나리가 힘을 합쳐 한 소녀를 구한다는 이야기다.",배트맨,"(16, 18)",PER,고담시,"(24, 26)",LOC,no_relation,wikitree
277,277,"이날 프로그램 공개에서는 전북영산작법보존회와 김명신‧정상희의 사제동행 판소리, 관악 명인 대금 원장현, 색소폰 강태환의 무대를 선보이며 올해 축제에 대한 기대감을 한껏 끌어 올렸다.",강태환,"(62, 64)",PER,색소폰,"(58, 60)",POH,no_relation,wikitree
3296,3296,"이날 프로그램 공개에서는 전북영산작법보존회와 김명신‧정상희의 사제동행 판소리, 관악 명인 대금 원장현, 색소폰 강태환의 무대를 선보이며 올해 축제에 대한 기대감을 한껏 끌어 올렸다.",강태환,"(62, 64)",PER,색소폰,"(58, 60)",POH,per:title,wikitree
4212,4212,"한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 4만장 지원했으며, 이날 확진자가 나온 광양시에도 현장상황을 감안해 적정 물량을 지원키로 했다.",전라남도,"(3, 6)",ORG,여수시,"(26, 28)",LOC,org:members,wikitree
25094,25094,"한편 전라남도는 최근 확진자가 발생한 순천시와 여수시에 마스크를 각각 2만장씩 총 4만장 지원했으며, 이날 확진자가 나온 광양시에도 현장상황을 감안해 적정 물량을 지원키로 했다.",전라남도,"(3, 6)",ORG,여수시,"(26, 28)",LOC,org:place_of_headquarters,wikitree

선정 기준은 가급적 type 조합이 label에 맞도록 선정하였다.

(6749), 12829 : no_relation  
8364, (32299) : per:alternate_names  
(11511), 22258 : per:place_of_residence  
277, (3296) : title  
4212, (25094) : org:place_of_headquarters

In [28]:
train_dataset = train_dataset.drop([12829, 8364, 22258, 277, 4212])

In [29]:
len(train_dataset)

32423

[Optional]  
make mapping of type set and labels

In [138]:
label_type_mapped = {
    "no_relation": []
    ,"org:dissolved": [('ORG', 'DAT')] # 지정된 조직이 해산된 날짜 O
    ,"org:founded": [('ORG', 'DAT')] # 지정된 조직이 설립된 날짜 O
    ,"org:place_of_headquarters": [('ORG', 'LOC'), ('ORG', 'ORG'), ('ORG', 'POH')] # 지정된 조직의 본부가 있는 장소(본사위치)
    ,"org:alternate_names": [('ORG', 'ORG'), ('ORG', 'POH')] # 지정된 조직을 참조하기 위해 사무실 이름 대신 호출되는 대체 이름
    ,"org:member_of": [('ORG', 'ORG'), ('ORG', 'POH'), ('ORG', 'LOC')]
    ,"org:members": [('ORG', 'ORG'), ('ORG', 'POH'), ('ORG', 'LOC')]
    ,"org:political/religious_affiliation": [('ORG', 'ORG'), ('ORG', 'POH')]
    ,"org:product": [('ORG', 'POH')]
    ,"org:founded_by": [('ORG', 'PER')]
    ,"org:top_members/employees": [('ORG', 'PER')]
    ,"org:number_of_employees/members": [('ORG','NOH')]
    ,"per:date_of_birth": [('PER', 'DAT')]
    ,"per:date_of_death": [('PER', 'DAT')]
    ,"per:place_of_birth": [('PER', 'LOC')]
    ,"per:place_of_death": [('PER', 'LOC')]
    ,"per:place_of_residence": [('PER', 'LOC')]
    ,"per:origin": [('PER', 'LOC'), ('PER', 'ORG')]
    ,"per:employee_of": [('PER', 'ORG')]
    ,"per:schools_attended": [('PER', 'ORG')]
    ,"per:alternate_names": [('PER', 'PER')]
    ,"per:parents": [('PER', 'PER'), ('PER', 'POH')]
    ,"per:children": [('PER', 'PER'), ('PER', 'POH')]
    ,"per:siblings": [('PER', 'PER'), ('PER', 'POH')]
    ,"per:spouse": [('PER', 'PER'), ('PER', 'POH')]
    ,"per:other_family": [('PER', 'PER'), ('PER', 'POH')]
    ,"per:colleagues": [('PER', 'PER')]
    ,"per:product": [('PER', 'POH')]
    ,"per:religion": [('PER', 'ORG'), ('PER', 'POH')]
    ,"per:title": [('PER', 'POH')]
}

In [197]:
cnt = 0
# 기존 건수: 32,423
print(len(train_dataset))
for index, row in train_dataset.iterrows():
    if ((row.subject_type, row.object_type) not in label_type_mapped[row.label]) and row.label != 'no_relation':
        cnt += 1
        train_dataset.drop(index, inplace=True)

print(cnt) # 1625
print(len(train_dataset)) # 30,798

32423
1625
30798

In [136]:
train_dataset[train_dataset.label == label_check].subject_type.value_counts()

PER    2099
Name: subject_type, dtype: int64

In [137]:
train_dataset[train_dataset.label == label_check].object_type.value_counts()

POH    1842
ORG     140
LOC      81
NOH      19
PER      14
DAT       3
Name: object_type, dtype: int64

In [79]:
train_dataset[(train_dataset.label == label_check) & (train_dataset.subject_type == 'PER')]

,id,sentence,subject_word,subject_idx,subject_type,object_word,object_idx,object_type,label,source
3118,3118,"이후 태연, 써니, 효연, 유리, 윤아로 소녀시대의 두 번째 유닛 그룹 소녀시대-Oh!GG를 결성하였으며, 9월 5일 첫 싱글 앨범 《몰랐니(Lil' Touch)》를 발표했다.",소녀시대,"(23, 26)",PER,소녀시대-Oh!GG,"(40, 49)",PER,org:members,wikipedia

In [58]:
# train_dataset.loc[(train_dataset.label == label_check) & (train_dataset.subject_type == 'PER'), 'subject_type'] = 'ORG'
# train_dataset.loc[(train_dataset.label == label_check) & (train_dataset.object_type == 'DAT'), 'object_type'] = 'LOC'
# train_dataset.loc[(train_dataset.label == label_check) & (train_dataset.object_type == 'NOH'), 'object_type'] = 'LOC'
# train_dataset.loc[(train_dataset.label == label_check) & (train_dataset.object_type == 'PER'), 'object_type'] = 'LOC'

In [134]:
train_dataset[(train_dataset.label == label_check) & (train_dataset.object_type == 'POH')].head(5)

,id,sentence,subject_word,subject_idx,subject_type,object_word,object_idx,object_type,label,source
1148,1148,"그는 리처드 도킨스 (Richard Dawkins), 크리스토퍼 히친스 (Christopher Hitchens), 다니엘 데넷 (Daniel Dennett)과 함께 무신론자 4명의 기수 중 한 명으로 여겨진다.",도킨스,"(7, 9)",PER,무신론,"(92, 94)",POH,per:religion,wikipedia
1865,1865,"1844년 무신론 정치 경제학자인 카를 마르크스는 그의 저서 《헤겔 법철학의 비판을 위하여, 서설》에서 '종교적 비참은 현실적 비참의 표현이자 현실적 비참에 대한 항의이다. 종교는 곤궁한 피조물의 한숨이며, 무정한 세계의 감정이고, 또 정신 없는 상태의 정신이다. 종교는 인민의 아편이다.' 라고 주장하였다.",마르크스,"(22, 25)",PER,무신론,"(6, 8)",POH,per:religion,wikipedia
2524,2524,"따라서 로베스피에르는 에베르파와 비슷하게 그리스도교를 탄압하였는데, 두 파벌은 이신론(理神論)과 무신론(無神論)이라는 점에서만 의견이 달랐다고 할 수 있다.",로베스피에르,"(4, 9)",PER,이신론,"(44, 46)",POH,per:religion,wikipedia
13584,13584,"헨리 나우웬(Henri Jozef Machiel Nouwen, 1932년 ~ 1996년)은 네덜란드 출신의 로마 가톨릭사제이자 사목신학자이며 그리스도교 영성가로도 널리 알려져 있다.",헨리 나우웬,"(0, 5)",PER,로마 가톨릭,"(60, 65)",POH,per:religion,wikipedia
13882,13882,"1654년, 당시 잉글랜드의 군인이던 올리버 크롬웰이 청교도 혁명을 일으켜 찰스 1세를 처형하고 권력을 잡는다.",올리버 크롬웰,"(21, 27)",PER,청교도,"(30, 32)",POH,per:religion,wikipedia

## 데이터 증강

In [204]:
train_dataset.label.value_counts()

no_relation                            9514
org:top_members/employees              4189
per:employee_of                        2853
org:member_of                          1849
per:title                              1842
org:alternate_names                    1258
org:place_of_headquarters              1188
per:date_of_birth                      1128
per:origin                             1088
per:alternate_names                     879
per:spouse                              787
per:colleagues                          512
per:parents                             505
org:founded                             450
org:members                             413
per:date_of_death                       409
org:product                             304
per:children                            297
per:other_family                        185
per:place_of_residence                  172
per:place_of_birth                      161
org:founded_by                          144
per:siblings                            136
per:product                             120
per:religion                             94
org:political/religious_affiliation      92
per:schools_attended                     80
org:dissolved                            66
org:number_of_employees/members          48
per:place_of_death                       35
Name: label, dtype: int64

In [210]:
temp = train_dataset[train_dataset['label'] == 'per:place_of_death'].head(2)
temp

,id,sentence,subject_word,subject_idx,subject_type,object_word,object_idx,object_type,label,source
1044,1044,"2010년 3월 29일, 최진영은 서울특별시 강남구 논현동의 자택에서 스스로 세상을 떠났다.",최진영,"(14, 16)",PER,서울특별시 강남구,"(19, 27)",LOC,per:place_of_death,wikipedia
1552,1552,"막시밀리아노 1세(Maximiliano I, 1832년 7월 6일 오스트리아 빈 ~ 1867년 6월 19일 멕시코 케레타로 근처)는 오스트리아의 대공이자 멕시코 제국의 황제이다.",막시밀리아노 1세,"(0, 8)",PER,멕시코 케레타로,"(60, 67)",LOC,per:place_of_death,wikipedia

In [213]:
temp.iloc[0].id

1044

In [206]:
additional_dataset = train_dataset.copy().head(0)
additional_dataset

Empty DataFrame
Columns: [id, sentence, subject_word, subject_idx, subject_type, object_word, object_idx, object_type, label, source]
Index: []

In [265]:
def create_data(subject_word, object_word, original_data):
    """
    subject_word, object_word: changing word
    original_data : original_data which will be change
    """
    new_data = original_data.copy()
    if original_data.subject_idx < original_data.object_idx:
        sentence_s = original_data.sentence[:original_data.subject_idx[0]]
        sentence_m = original_data.sentence[original_data.subject_idx[1]+1:original_data.object_idx[0]]
        sentence_e = original_data.sentence[original_data.object_idx[1]+1:]
        new_data.sentence = sentence_s + subject_word + sentence_m + object_word + sentence_e
        new_data.subject_idx = (len(sentence_s), len(sentence_s)+len(subject_word)-1)
        new_data.object_idx = (len(new_data.sentence)-len(sentence_e)-len(object_word), len(new_data.sentence)-len(sentence_e)-1)
    else:
        sentence_s = original_data.sentence[:original_data.object_idx[0]]
        sentence_m = original_data.sentence[original_data.object_idx[1]+1:original_data.subject_idx[0]]
        sentence_e = original_data.sentence[original_data.subject_idx[1]+1:]
        new_data.sentence = sentence_s + object_word + sentence_m + subject_word + sentence_e
        new_data.object_idx = (len(sentence_s), len(sentence_s)+len(object_word)-1)
        new_data.subject_idx = (len(new_data.sentence)-len(sentence_e)-len(subject_word), len(new_data.sentence)-len(sentence_e)-1)
        
    new_data.subject_word = subject_word
    new_data.object_word = object_word

    return new_data

create_data(temp.iloc[1].subject_word, temp.iloc[1].object_word, temp.iloc[0])

id                                                                  1044
sentence        2010년 3월 29일, 막시밀리아노 1세은 멕시코 케레타로 논현동의 자택에서 스스로 세상을 떠났다.
subject_word                                                   막시밀리아노 1세
subject_idx                                                     (14, 22)
subject_type                                                         PER
object_word                                                     멕시코 케레타로
object_idx                                                      (25, 32)
object_type                                                          LOC
label                                                 per:place_of_death
source                                                         wikipedia
Name: 1044, dtype: object

In [373]:
import random

random.seed(42)

# Insert punction words into a given sentence with the given ratio "punc_ratio"
def insert_punctuation_marks(original_data, punc_ratio=0.3):
    PUNCTUATIONS = ['.', ',', '!', '?', ';', ':']    
    new_data = original_data.copy()

    if original_data.subject_idx < original_data.object_idx:
        sentence_s = original_data.sentence[:original_data.subject_idx[0]]
        sentence_m = original_data.sentence[original_data.subject_idx[1]+1:original_data.object_idx[0]]
        sentence_e = original_data.sentence[original_data.object_idx[1]+1:]
    else:
        sentence_s = original_data.sentence[:original_data.object_idx[0]]
        sentence_m = original_data.sentence[original_data.object_idx[1]+1:original_data.subject_idx[0]]
        sentence_e = original_data.sentence[original_data.subject_idx[1]+1:]


    words_s = sentence_s.split(' ')
    words_m = sentence_m.split(' ')
    words_e = sentence_e.split(' ')

    new_line = []

    words_length = len(words_s) + len(words_m) + len(words_e)
    q = random.randint(1, int(punc_ratio * words_length + 1))
    qs = random.sample(range(0, words_length), q)

    j = 0

    for idx, words in enumerate([words_s, words_m, words_e]):
        for word in words:
            if j in qs:
                new_line.append(PUNCTUATIONS[random.randint(0, len(PUNCTUATIONS)-1)])
                new_line.append(word)
            else:
                new_line.append(word)
            j += 1

        length = 0 if len(new_line) == 0 else sum([len(w) for w in new_line]) + len(new_line)

        if idx == 0:
            if original_data.subject_idx < original_data.object_idx:
                new_data.subject_idx = (length, length+len(original_data.subject_word)-1)
                new_line.append(original_data.subject_word)
            else:
                new_data.object_idx = (length, length+len(original_data.object_word)-1)
                new_line.append(original_data.object_word)
        elif idx == 1:
            if original_data.subject_idx < original_data.object_idx:
                new_data.object_idx = (length, length+len(original_data.object_word)-1)
                new_line.append(original_data.object_word)
            else:
                new_data.subject_idx = (length, length+len(original_data.subject_word)-1)
                new_line.append(original_data.subject_word)

    new_data.sentence = ' '.join(new_line)
    return new_data

In [381]:
#insert_punctuation_marks(train_dataset[train_dataset.id == 25898].iloc[0])
#insert_punctuation_marks(train_dataset[train_dataset['label'] == 'org:dissolved'].iloc[66])
train_dataset[train_dataset['label'] == 'org:dissolved'].iloc[66]

IndexError: single positional indexer is out-of-bounds

In [323]:
train_dataset.label.value_counts()

no_relation                            9514
org:top_members/employees              4189
per:employee_of                        2853
org:member_of                          1849
per:title                              1842
org:alternate_names                    1258
org:place_of_headquarters              1188
per:date_of_birth                      1128
per:origin                             1088
per:alternate_names                     879
per:spouse                              787
per:colleagues                          512
per:parents                             505
org:founded                             450
org:members                             413
per:date_of_death                       409
org:product                             304
per:children                            297
per:other_family                        185
per:place_of_residence                  172
per:place_of_birth                      161
org:founded_by                          144
per:siblings                            136
per:product                             120
per:religion                             94
org:political/religious_affiliation      92
per:schools_attended                     80
org:dissolved                            66
org:number_of_employees/members          48
per:place_of_death                       35
Name: label, dtype: int64

In [359]:
#type(train_dataset.iloc[1])
#df_1.append(Series_4, ignore_index=True)
#additional_dataset = additional_dataset.append(train_dataset.iloc[1], ignore_index=True)
additional_dataset = additional_dataset.iloc[0:0]
additional_dataset.head()

Empty DataFrame
Columns: [id, sentence, subject_word, subject_idx, subject_type, object_word, object_idx, object_type, label, source]
Index: []

In [348]:
train_dataset.iloc[1]

id                                                                   1
sentence        호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으로 재탄생한다.
subject_word                                                     민주평화당
subject_idx                                                   (19, 23)
subject_type                                                       ORG
object_word                                                       대안신당
object_idx                                                    (14, 17)
object_type                                                        ORG
label                                                      no_relation
source                                                        wikitree
Name: 1, dtype: object

In [382]:
additional_dataset = additional_dataset.iloc[0:0]
random.seed(42)

for key in label_type_mapped.keys():
    print(f'label: {key}, count: {len(train_dataset[train_dataset.label == key])}')
    while len(train_dataset[train_dataset['label'] == key]) + len(additional_dataset[additional_dataset['label'] == key]) < 2000:
        try:
            random_num = random.randint(0, len(train_dataset[train_dataset['label'] == key])-1)
            #print(train_dataset[train_dataset['label'] == key].iloc[random_num])
            new_data = insert_punctuation_marks(train_dataset[train_dataset['label'] == key].iloc[random_num])
            additional_dataset = additional_dataset.append(new_data)
        except:
            print(train_dataset[train_dataset[train_dataset['label'] == key].iloc[random_num]])
            pass
    print(f'end :: label: {key}, count: {len(train_dataset[train_dataset.label == key])}')
    print('='*30)

label: no_relation, count: 9514
end :: label: no_relation, count: 9514
==============================
label: org:dissolved, count: 66
end :: label: org:dissolved, count: 66
==============================
label: org:founded, count: 450
end :: label: org:founded, count: 450
==============================
label: org:place_of_headquarters, count: 1188
end :: label: org:place_of_headquarters, count: 1188
==============================
label: org:alternate_names, count: 1258
end :: label: org:alternate_names, count: 1258
==============================
label: org:member_of, count: 1849
end :: label: org:member_of, count: 1849
==============================
label: org:members, count: 413
end :: label: org:members, count: 413
==============================
label: org:political/religious_affiliation, count: 92
end :: label: org:political/religious_affiliation, count: 92
==============================
label: org:product, count: 304
end :: label: org:product, count: 304
==============================
label: org:founded_by, count: 144
end :: label: org:founded_by, count: 144
==============================
label: org:top_members/employees, count: 4189
end :: label: org:top_members/employees, count: 4189
==============================
label: org:number_of_employees/members, count: 48
end :: label: org:number_of_employees/members, count: 48
==============================
label: per:date_of_birth, count: 1128
end :: label: per:date_of_birth, count: 1128
==============================
label: per:date_of_death, count: 409
end :: label: per:date_of_death, count: 409
==============================
label: per:place_of_birth, count: 161
end :: label: per:place_of_birth, count: 161
==============================
label: per:place_of_death, count: 35
end :: label: per:place_of_death, count: 35
==============================
label: per:place_of_residence, count: 172
end :: label: per:place_of_residence, count: 172
==============================
label: per:origin, count: 1088
end :: label: per:origin, count: 1088
==============================
label: per:employee_of, count: 2853
end :: label: per:employee_of, count: 2853
==============================
label: per:schools_attended, count: 80
end :: label: per:schools_attended, count: 80
==============================
label: per:alternate_names, count: 879
end :: label: per:alternate_names, count: 879
==============================
label: per:parents, count: 505
end :: label: per:parents, count: 505
==============================
label: per:children, count: 297
end :: label: per:children, count: 297
==============================
label: per:siblings, count: 136
end :: label: per:siblings, count: 136
==============================
label: per:spouse, count: 787
end :: label: per:spouse, count: 787
==============================
label: per:other_family, count: 185
end :: label: per:other_family, count: 185
==============================
label: per:colleagues, count: 512
end :: label: per:colleagues, count: 512
==============================
label: per:product, count: 120
end :: label: per:product, count: 120
==============================
label: per:religion, count: 94
end :: label: per:religion, count: 94
==============================
label: per:title, count: 1842
end :: label: per:title, count: 1842
==============================

In [384]:
additional_dataset[additional_dataset['label'] == 'per:place_of_death'].head()

,id,sentence,subject_word,subject_idx,subject_type,object_word,object_idx,object_type,label,source
15990,15990,". 또한 그가 취임한 그 해에 바티칸 ! 교황 요한 바오로 1세 가 취임 33일만에 갑작스레 사망하였는데 이에 타살 의혹이 들면서 다시 한번 , 화제가 되기도 했다.",요한 바오로 1세,"(29, 37)",PER,바티칸,"(18, 20)",LOC,per:place_of_death,wikipedia
16082,16082,"그러나 서재필 은 휴전을 못보고 한국 전쟁이 ; 한창이던 1951년 1월 5일 펜실베이니아주 필라델피아 노리스타운 몽고메리 병원 병실에서 . 후두암과 방광암, 과로의 합병증으로 일생을 마쳤다.",서재필,"(5, 7)",PER,펜실베이니아주 필라델피아,"(46, 58)",LOC,per:place_of_death,wikipedia
19895,19895,"에드워드 ""테드"" 손다이크 (Edward Lee ""Ted"" Thorndike, 1874년 8월 31일 미국 매사추세츠주 윌리암스버그 출생 ~ 1949년 , 8월 9일 미국 뉴욕주 몬트로즈에서 사망)는 전체 경력의 대부분을 컬럼비아 대학교에서 지녔던, 미국의 심리학자이다.",손다이크,"(11, 14)",PER,미국 뉴욕주,"(96, 101)",LOC,per:place_of_death,wikipedia
11309,11309,". 알폰소 10세 데 카스티야(1221년 11월 . 23일 톨레도 ~ 1284년 4월 : 4일 세비야 )는 부르고뉴 왕가에 : 속하는 . 인물로, 카스티야 왕국과 레온 왕국의 : 왕이었으며, 일시적으로 . 독일의 왕(신성로마제국 황제)이었던 : 인물이다.",알폰소 10세,"(3, 9)",PER,세비야,"(56, 58)",LOC,per:place_of_death,wikipedia
15990,15990,"또한 그가 취임한 그 해에 바티칸 교황 요한 바오로 1세 가 취임 , 33일만에 갑작스레 사망하였는데 이에 타살 의혹이 들면서 다시 한번 화제가 되기도 했다.",요한 바오로 1세,"(25, 33)",PER,바티칸,"(16, 18)",LOC,per:place_of_death,wikipedia

In [365]:
additional_dataset.iloc[0].sentence[additional_dataset.iloc[0].object_idx[0]:additional_dataset.iloc[0].object_idx[1]+1]

'기원전 206년'

In [385]:
additional_dataset.to_csv('../../../dataset/train/additional_dataset.csv')
train_dataset.to_csv('../../../dataset/train/train_dataset.csv')